.content-justify{
    justify-content: space-around;
}

button.bg-color-green, .bg-color-green{
    background: #599f06;
    
}
.color-green{
    color: #599f06;
}
.bg-green{
    background: #599f06;
}
button.hover-green:hover{
    color: #333;
    background: #ddd;
}
.btn-outline-green{
    border-color: #599f06;
    color: #599f06;
}
.btn-outline-green:hover{
    background: #599f06;
    color: #000;
}
.bg-color-ctm{
    color:#191919;
    background: #f7f9ff;

}
.bg-gray-ddd{
    background: #ddd;
}